* {
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    color: white;
}

body {
    background-color: #181818;
    overflow: hidden; 
}

p {
    font-size: 2em;
    font-weight: bold;
}

.my-button {
    padding: 5px 15px;
    font-size: 1.5em;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.3s;
}
.my-button:hover {
    background-color: grey;
}

.typing-frame {
    height: 550px;
    width: 1100px;
    overflow: hidden;
}
nav {
    position: fixed;
    bottom: 100px;
    margin: auto;
    left: 0;
    right: 0;
}

#title {
    font-weight: bold;
    font-size: 2em;
    border: 10px;
}

#minute {
    text-align: center;
}
#back {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 4px;
    border-radius: 10px;
    display: inline;
}
#back:hover {
    background-color: grey;
}
.tip {
    font-size: 1.5em;
    font-weight: normal;
}

/* Media Queries */
@media (max-width: 1110px) {
    .typing-frame {
        width: 690px;
    }
}

@media (max-width: 740px) {
    * {
        display: none;
    }
}