* {
    font-family: sans-serif;
    text-decoration: none;
}
body {
    background-color: #cccccc
}
.card {
    position: relative;
    margin: 5px 5px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.4s;
    padding-right: 0PX;
    display: inline-block;
    text-align: center;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img {
    width: 400px;
    border-radius: 10px 10px 0px 0px;
}
.container {
    padding: 2px 16px;
    color: #333;
    background-color: white;
    border-radius: 0 0 10px 10px;
}
.header {
    text-align: center;
    border: 7px solid #333;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    color: #333;
    background-color: white;
}
#about {
    color: white;
    margin-left: 10px;
}

nav {
    text-align: center;
}
footer {
    position: fixed;
    padding: 6px 0px 6px 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: white;
}
