* {
    text-align: center!important;
}
p {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bolder;
}

#lives {
    position: fixed;
    top: 5px;
    right: 1px;
    width: 250px;
}

input:focus {
    
    outline: none;
}

input {
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    font-size: 25px;
    border: 3px solid;
    font-weight: bold;
}

body {
    background-color: grey;
}

* {
    text-align: center;
    
    font-family: sans-serif;
}

.game {
    margin-top: 35vh;
    border-style: solid;
    border-radius: 50px;
    margin-right: 20vw;
    margin-left: 20vw;
    background-color: #e3e3e3;
}
#hearts {
    color: red;
    font-size: 2em;
    transition: 1s;
}

#back {
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 4px;
    border-radius: 10px;
    background-color: #e3e3e3;
}
#back:hover {
    background-color: grey;
}
@media screen and (max-width: 750px) {
    input {
        font-size: 1em;
    }
    h1 {
        font-size: 1em;
    }
    p {
        font-size: 1em;
    }
    #lives {
        font-size: 1em;
    }
}
@media screen and (max-width: 500px) {
    input {
        font-size: 0.75em;
    }
}
@media screen and (max-width: 485px) {
    #lives {
        top: 100px;
        margin-right: 20vw;
        margin-left: 20vw;
    }
}
